/* colores */
.colores-container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*padding: 50px;*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.colores-item {
  border: 1px #000 solid;
  margin: 1px;
  padding: 0px;
  text-align: center;
  border-radius: 10px;
  /*margin: 20px;*/
  -webkit-box-flex: 1;
  /*-ms-flex: 1 0 calc(33.33% - 40px);
  flex: 1 0 calc(33.33% - 40px);
  max-width: calc(33.33% - 40px);*/
  -ms-flex: 1 0 calc(36% - 32px);
  flex: 1 0 calc(36% - 32px);
  max-width: calc(36% - 32px)
}

.color-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.color-year {
  font-size: 12px;
  margin-left: 5px;
  text-align: left;
}

.color-name {
  font-size: 12px;
  margin-top: 20px;
}

.color-color {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

.color-pantone {
  font-size: 12px;
  margin-right: 10px;
  text-align: right;
}

.color-btn-paginate {
  margin: 30px 0px 0px 10px;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
  .colores-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(39% - 42px);
    flex: 1 0 calc(39% - 42px);
    max-width: calc(39% - 42px);
  }
}

@media screen and (max-width: 640px) {
  .colores-container {
    display: block;
    padding: 20px;
  }
  .colores-item {
    margin: 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    margin-bottom: 2px;
  }
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.row-double {
  display: flex;
  flex-wrap: wrap;
}